.addTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.todoInput {
    font-size: 18px;
    width: 65%;
}

input[type=date] {
    font-size: 18px;
}

.addTodoBtn {
    background-color: green;
}

