.todoItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.listTodo {
    font-size: 18px;
    width: 75%;
}

.listDate {
    font-size: 18px;
    width: fit-content;
}

.delete {
    background-color: red;
}