@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.todoContainer {
  padding: 15px;
  width: 700px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.todolist {
  font-size: 30px;
}

input {
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

button {
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
}